/* .app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}  */
  
.app-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent scrollbars */
  background-color: #111827; /* match theme background */
}

/* app-sidebar {
  width: 280px;
  flex-shrink: 0; 
  height: 100vh;
}

app-home {
  flex: 1; 
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
} */
